body{
    align-content: center;
    text-align: center;
}
#entire{
    height: 100%;
    width: 100%;
}

#para{
    font-size: 50px;
    text-align: center;
}

input[type=text]{
    border: 1px solid black;
    border-radius: 4px;
    width: 600px;
    height: 20px;
}
button{
    border-radius: 4px;
    height: 30px;
    color: gray;
    border: 1px solid black;
}

#newquote{
    background-color: white;
    color: black;
    border-radius: 20%;
    border: 1px solid gold; 
}